@tailwind base;
@tailwind components;
@tailwind utilities;
#accessibleModal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 999;
}

#overlay {
  display: none;
}

#openbutton {
  margin-top: 20px;
}

button:focus {
  outline: blue;
}

/* #accessibleModal {
  display: none;
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */
